<%= form_for([@league, @team]) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :teamname %><br>
    <%= f.text_field :teamname, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :playerone %><br>
    <%= f.text_field :playerone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :playertwo %><br>
    <%= f.text_field :playertwo, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :playerthree %><br>
    <%= f.text_field :playerthree, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :playerfour %><br>
    <%= f.text_field :playerfour, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
