<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-3">
<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Nummembers:</strong>
  <%= @league.numMembers %>
</p>

<p>
  <strong>Commissioner:</strong>
  <%= @league.commissioner %>
</p>

	</div>
</div>
<%= link_to "Create your team", new_league_team_path(@league), class: "btn btn-primary" %>
<%= link_to 'Edit', edit_league_path(@league), class: "btn btn-link" %> |
<%= link_to 'Back', leagues_path, class: "btn btn-link" %>
